body {
    font-family: "Dosis";
    font-weight: 400;
    font-size: 18px;
    background: #ededed;
}

.mainsize {
    width: 400px;
    height: 400px;
    background: #fff;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

circle {
    fill: pink;
}

.cell-border {
    fill: none;
    stroke: #ddd;
}

.filled.cell-border {
    fill: rgba(0,0,0,0.7);
    stroke: #000;
}

#original-image {
    display: none;
}

#sketch {
    display: none;
}
