body {
    font-family: "Dosis";
    font-weight: 400;
    font-size: 18px;
    background: #ededed;
}


/* architecture */

#canvas-original {
    display: none;
}

#original-image {
    opacity: 0;
}

#original-image.loaded {
    height: 80px;
    width: auto;
    opacity: 1;
}

#canvas-sketch {
    display: none;
}


#voroni {
    background: #fff;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}



/* drop */

#drop-target {
    width: 200px;
    height: 200px;
    border: 1px dotted #000;
    text-align: center;
    padding-top: 80px;
    display: inline-block;
    background: #ddd;
    transition: all 0.2s ease;
    margin-right: 20px;
    font-family: 'Tinos';
    font-size: 11px;
    line-height: 12px;
    vertical-align: top;
}

#drop-target.hovering {
    background: #FFD400;
}





/* svg */

circle {
    fill: none;
}

.cell-border {
    fill: none;

}

.filled.cell-border {
    fill: #000;
    stroke: #000;
}

.show-info .cell-border{
    stroke: #ddd;
}

.show-info circle {
    fill: pink;
}

.show-info .filled.cell-border {
    fill: rgba(0,0,0,0.7);
}



/* tools */

#tools {
    position: absolute;
    left: calc(50% - 350px);
    top: 50px;
    width: 700px;
    background: #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 20px;
    z-index: 1000;
}

#tools h2 {
    margin-top: 0;
}

.tools-set {
    border-bottom: 1px dotted #fff;
    margin-bottom: 8px;
    padding-bottom: 24px;
}

#tools h4 {
    margin: 0 0 12px 0;
    font-size: 14px;
    font-family: 'Tinos';
}

#tools h5 {
    margin: 0 0 12px 0;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Tinos';
}

.slider {
    width: 100%;
    position: relative;
}

button {
    background: #e03a6c;
    border: 0;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    padding: 12px 18px;
    cursor: pointer;
}

#loading-info {
    display: none;
    font-size: 10px;
}


/* sliders */

body .ui-widget.ui-widget-content {
    border: 0;
    border-radius: 0;
    background: #fff;
    height: 2px;
    width: 100%;
}

body .ui-slider-handle {
    border-radius: 50%;
    background: #ff9d00!important;
    border: 0!important;
    width: 16px!important;
    height: 16px!important;
    outline: none!important;
    cursor: pointer!important;
    position: absolute;
    top: -7px;
}

body .ui-slider-handle:hover {
    background: #000!important;
}

body .ui-slider-horizontal .ui-slider-range-min {
    background: #ff9d00;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}




/* status */

#status {
    padding: 20px;
    font-size: 10px;
}

#again-button {
    display: none;
}